<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vicious Valet App</title>
</head>
<body>
	<h2>Vicious Valet Web App</h2>

	<form action="/" method="post">
		<div>
			<label> License Plate: <input type="text" name="license" required>
			</label>
		</div>
		<br>
		<div>
			<label> State: <input type="text" name="state" required>
			</label>
		</div>
		<br>
		<div>
			<label> Color: <input type="text" name="color" required>
			</label>
		</div>
		<br>
		<div>
			<label> Make: <input type="text" name="make" required>
			</label>
		</div>
		<br>
		<div>
			<label> Model: <input type="text" name="model" required>
			</label>
		</div>
		<br>
		<div>
			<label> Location: <input type="text" name="location" required>
			</label>
		</div>
		<br>
		<div>
			<button>Add a Car</button>
		</div>
		<br>
	</form>
	<p>
		<b><font color="red"> {{#full}} The lot is now full!
				{{/full}}</font></b>
	</p>
	<br> Overall Lot Capacity: {{ capacity }}
	<br> Open Spots on Lot: {{ opened }}
	<br> Number of Cars on the Lot: {{ parked }}
	<br>
	<table border="1">
	<thead>
		<tr>
			<th>License</th>
			<th>State</th>
			<th>Make</th>
			<th>Model</th>
			<th>Color</th>
			<th>License</th>
		</tr>
	</thead>
	<br>
	<tbody>
		{{#lot.carList}}
		<tr>
			<td>{{ license }}</td>
			<td>{{ state }}</td>
			<td>{{ make }}</td>
			<td>{{ model }}</td>
			<td>{{ color }}</td>
			<td>{{ location }}</td>
		</tr>
		{{/lot.carList}}
	</tbody>
</table>
</body>
</html>