<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vicious Valet App</title>
</head>
<body>
	<h2>Vicious Valet Web App</h2>

	<form action="/" method="post">
		<div>
			<label> License Plate: <input type="text" name="license">
			</label>
		</div>
		<br>
		<div>
			<label> State: <input type="text" name="state">
			</label>
		</div>
		<br>
		<div>
			<label> Color: <input type="text" name="color">
			</label>
		</div>
		<br>
		<div>
			<label> Make: <input type="text" name="make">
			</label>
		</div>
		<br>
		<div>
			<label> Model: <input type="text" name="model">
			</label>
		</div>
		<br>
		<div>
			<button>Add a Car</button>
		</div>
	</form>
	<p>{{#full}} The lot is now full! {{/full}}</p>
	<br> Overall Lot Capacity: {{ capacity }}
	<br> Open Spots on Lot: {{ opened }}
	<br> Number of Cars on the Lot: {{ parked }}
	<ul>
		{{#lot.carList}}
		<br>
		<b>Vehicle:</b>
		<br>
		<li>License: {{ license }}</li>
		<li>State: {{ state }}</li>
		<li>Color: {{ color }}</li>
		<li>Make: {{ make }}</li>
		<li>Model: {{ model }}</li> {{/lot.carList}}
	</ul>
</body>
</html>